# Telegram API credentials — get from https://my.telegram.org
API_ID=20899529
API_HASH=0297693c81aac01b704702f334decddd

# Bot token from @BotFather on Telegram
BOT_TOKEN=8424116521:AAHafHm8jI211aJHgWszG85htBRKwJ3aUm4

# Your Telegram user ID (get from @userinfobot)
OWNER_ID=8002803133

# MongoDB connection URI
MONGO_URI=mongodb+srv://sakshamranjan7:8wBCaYilCTlgdNV3@cluster0.h184m7m.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
